/* style.css */

.mainContainer {
    display: flex;
    justify-content: center;
    position: relative;
}

#mainDiv {
    width: 95%;
    height: 50px;
    position: absolute;
    top: 50%;
}

body {
    font-size: 100%;
    background-color: #272631;
    /*background-color: #313033;*/
    /*background-color: #32303C;*/
    /*background-color: #012C62;*/
    color: #E1E1E1;
}

a {
    color: #0896FF;
}

p {
    font-size: 1.25em;
    margin-top: 0px;
}

h1 {
    font-size: 2.3em;
    text-align: center;
    margin-bottom: 28px;
    padding: 10px;
}

h2 {
    font-size: 2em;
    margin-bottom: 5px;
}

.cryptoaddr {
    font-size:x-small;
    overflow-wrap:break-word;
}